<h1>Add a new Bean!</h1>

<form action="/beans" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Origin: <input type="text" name="origin"></p>
  <p>Roast: <input type="text" name="roast"></p>
  <input type="submit">
</form>
